<div class="container" style="margin-top: 200px;">
  <div class="login-box">
    <form class="form-horizontal" action="/sessions" method="post">
      <div class="form-group">
        <label for="email">Email</label>
        <div>
          <input type="text" class="form-control" id="email" name="email" placeholder="Your email">
        </div>
      </div>
      <div class="form-group">
        <label for="password" class="control-label">Password</label>
        <div>
          <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-default">Sign in</button>
        <a href="/users/new" class="pull-right">Sign up</a>
      </div>
    </form>
  </div>
</div>