<div class="col-md-offset-3">
  <form class="form-horizontal" action="/users" method="post">
    <div class="form-group">
      <label for="nickname" class="col-sm-2 control-label">Nickname</label>
      <div class="col-sm-3">
        <input type="text" class="form-control" id="nickname" name="nickname" placeholder="Your nickname">
      </div>
    </div>
    <div class="form-group">
      <label for="mobile" class="col-sm-2 control-label">Mobile</label>
      <div class="col-sm-3">
        <input type="text" class="form-control" id="mobile" name="mobile" placeholder="Your mobile">
      </div>
    </div>
    <div class="form-group">
      <label for="password" class="col-sm-2 control-label">Password</label>
      <div class="col-sm-3">
        <input type="password" class="form-control" id="password" name="password" placeholder="Your password">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Sign up</button>
        <a href="/sessions/new" class="btn btn-default" style="margin-left: 90px">Sign in</a>
      </div>
    </div>
  </form>
</div>